@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "tailwindcss";

:root {
  --text-color: rgba(128, 128, 128, 0.719);
  --button-color: hsla(349, 100%, 41%, 1);
  --iris: hsla(235, 56%, 54%, 1);
  --nav: hsla(240, 15%, 10%, 1);
  --brand: hsla(0, 0%, 100%, 1);
  --text-font: 'Poppins', sans-serif;
}

.active{
  color: rgb(0, 255, 242);
  font-style: italic;
  text-decoration: underline 3px rgb(255, 255, 255);
  
}